@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@150&display=swap');

:root {
  
  --popout-modal-image: url(https://github.com/aquecola/discord-theme-berserk/blob/master/galaxy.jpg?raw=true);
  --background-image: url(https://github.com/aquecola/discord-theme-berserk/blob/master/berserk.jpg?raw=true);
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center right;
  --popout-modal-blur: 20px;
  --popout-modal-size: cover;
  --popout-modal-position: center left;
  --font: Roboto;
  --serverlist-brightness: 0.9;
  --left-brightness: 0.9;
  --middle-brightness: 0.8;
  --right-brightness: 0.48;
  --popout-modal-brightness: 0.75;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --window-padding: 15px;
  --window-roundness: 10px;
  --update-notice-1: none;
}
